

.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    grid-gap: 3rem;
    margin-bottom: 5rem;

}

.inicio-imagem {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;



}

.inicio-imagem img {
    max-height: 500px;
    transition: 0.6s;
    border-radius: 5px;
    border: solid 3px var(--detalhes);
}

.inicio-imagem img:hover {
    transform: scale(1.1);
}

.inicio-texto h2 {
    color: var(--detalhes);
    margin-bottom: 10px;

}

.inicio-texto h1 {
    font-size: var(--font-g);
    color: var(--corpo);
    margin-bottom: 10px;
}



.inicio-texto p {
    color: var(--corpo);
    margin-bottom: 10px;

}

.indices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
}

.indices h3 {
    font-weight: bold;
    color: var(--detalhes);
    margin-bottom: 2px;
}

.indices h4 {
    font-weight: bold;
    color: var(--corpo);
}

.galeria {
    display: grid;
    grid-template-columns: 1fr;
    background-position: bottom;
    background-size: cover;
}

.galeria h1 {
    font-size: 1.8rem;
}

.texto-centro {
    height: max-content;
    text-align: center;
    margin-bottom: 4rem;
}

.texto-centro h2 {
    color: var(--detalhes);
    margin-bottom: 10px;

}

.texto-centro h1 {
    font-size: var(--font-g);
    color: var(--corpo);
    margin-bottom: 10px;
}

.galeria-imagem {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    grid-gap: 2rem;


}

.galeria-imagem img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;

}

.card {
    background-color: var(--corpo);
    border-radius: 5px;
    border: 3px solid var(--detalhes);
    box-shadow: 0px 0px 2px var(--outras);
    transition: 0.6s;
}

.card:hover {
    transform: scale(1.1);
}

.texto-card {
    padding: 10px;
}

.texto-card :nth-child(n) {
    margin-bottom: 10px;
}

.lermais {
    color: #e6a61d;


}

.localizacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    grid-gap: 3rem;
    margin-bottom: 5rem;

}

.localizacao-imagem {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;



}

.localizacao-imagem img {
    max-height: 500px;
    transition: 0.6s;
    border-radius: 5px;
    border: solid 3px var(--detalhes);
}

.localizacao-imagem img:hover {
    transform: scale(1.1);
}

.localizacao-texto h2 {
    color: var(--detalhes);
    margin-bottom: 10px;

}

.localizacao-texto h1 {
    font-size: var(--font-g);
    color: var(--corpo);
    margin-bottom: 10px;
}



.localizacao-texto p {
    color: var(--corpo);
    margin-bottom: 10px;

}

.Biografia div:nth-child(2) {
    padding: 10px;
    background-color: var(--corpo);
}

.Biografia div:nth-child(2) p {
    text-indent: 30px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.contato {
    padding: 90px 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    text-align: center;
}

.contato h3 {
    color: var(--detalhes);
}

.cont-li {
    color: var(--corpo);
    transition: 0.6s;
    margin-top: 5px;
}

.cont-li a {
    color: var(--corpo);

}

.cont-li:hover {

    margin-left: 20px;
}



.redes-sociais {
    color: var(--corpo);
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    justify-content: space-around;


}

.redes-sociais svg {
    transition: 0.6s;
}

.redes-sociais svg:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    color: #e6a61d;
    margin-bottom: 10px;
}


@media (max-width: 900px) {
    nav {
        position: absolute;
        width: 100%;
        top: -100vh;
        margin-top: 1px;
        height: 95vh;
        left: 0px;
        align-items: center;
        justify-content: center;
        background-color: var(--secundaria);
        transition: 0.6s;
    }

    nav ul {
        display: flex;
        flex-direction: column;

    }

    .navegacao {
        margin-top: 0px;
        top: 67px;

    }

    header div {
        display: flex;
        align-items: center;
        color: var(--corpo);
    }

    .menu {
        color: #ffc851;
    }

    section {
        text-align: center;

    }

    .inicio {
        display: grid;
        grid-template-columns: 1fr;

    }

    .inicio-imagem img {
        border-radius: 100%;
        height: 200px;
        width: 200px;
        border: var(--detalhes) 3px solid;

    }

    .inicio-texto h2 {
        font-size: 18px;


    }

    .inicio-texto h1 {
        font-size: var(--font-m);
    }

    .inicio-imagem svg {
        margin: 10px;

    }

    .texto-centro h1 {
        font-size: var(--font-m);
        color: var(--corpo);
        margin-bottom: 10px;
    }

    .Biografia {
        margin-top: 50vh;
    }

    .Biografia h1 {
        font-size: var(--font-m);

    }

    .mapa {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;



    }

    .mapa iframe {
        width: 100%;
        border-radius: 5px;
        border: solid 3px var(--detalhes);
        margin-bottom: 20px;
    }



    .contato {
        display: grid;
        grid-template-columns: 1fr;
    }




}



@media (max-width: 400px) {

    .inicio-texto h1 {
        font-size: 1.8rem;
        color: var(--detalhes);
        margin-bottom: 10px;
    }

    .inicio-texto h2 {
        color: var(--corpo);
        margin-bottom: 10px;

    }

    .inicio-texto p {
        color: var(--corpo);
        margin-bottom: 10px;

    }

    .galeria h1 {
        font-size: 1.8rem;
    }

    .familia-texto h1 {
        font-size: 1.8rem;
    }

    .localizacao-texto h1 {
        font-size: 1.8rem;
        color: var(--detalhes);
        margin-bottom: 10px;
    }

    .localizacao-texto h2 {
        color: var(--corpo);
        margin-bottom: 10px;

    }

    .localizacao-texto p {
        color: var(--corpo);
        margin-bottom: 10px;

    }

    .indices h3 {
        font-size: var(--font-p);
    }

    .indices h4 {
        font-size: var(--font-p);
    }

    .Biografia h1 {
        font-size: 1.8rem;

    }





}