.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url("https://raw.githubusercontent.com/Joseulisses065/site_de_fotografia/main/img/fundo-inicio.jpg");
    background-position: center;
    background-size: cover;

}

.inicio-texto h1 {
    font-size: var(--font-m);
    color: var(--detalhes);
    margin-bottom: 10px;
}

.inicio-texto h2 {
    color: var(--corpo);
    margin-bottom: 10px;

}

.inicio-texto p {
    color: var(--corpo);
    margin-bottom: 10px;

}

.btn {
    margin-top: 30px;
    padding: 10px;
    background-color: var(--secundaria);
    color: var(--corpo);
    border: #ffc851 solid 2px;
    border-radius: 50px;
    transition: 0.6s;
}
.btn a {
    color: var(--corpo);
   
}

.btn:hover {
    background-color: var(--corpo);
    color: var(--secundaria);
}

.inicio-imagem {
    color: var(--corpo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

.inicio-imagem svg {
    margin: 20px;
    transition: 0.6s;
    padding: 3px;

}

.inicio-imagem svg:hover {
    color: #ffc851;
    transform: scale(1.1);

}

.familia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    background: url("../img/bg-pag1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}

.familia-imagem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;

}

.familia-imagem img {
    width: 100%;
    height: 100%;
    transition: 0.6s;
    border-radius: 5px;
    border: 2px solid var(--detalhes);

}

.familia-imagem img:hover {
    transform: scale(1.1);

}

.familia-texto h2 {
    color: var(--detalhes);
    margin-bottom: 10px;

}

.familia-texto h1 {
    font-size: var(--font-m);
    color: var(--corpo);
    margin-bottom: 10px;
}



.familia-texto p {
    color: var(--corpo);
    margin-bottom: 10px;

}

.blog {
    display: grid;
    grid-template-columns: 1fr;
    background-position: bottom;
    background-size: cover;
}

.texto-centro {
    height: max-content;
    text-align: center;
    margin-bottom: 4rem;
}

.texto-centro h2 {
    color: var(--detalhes);
    margin-bottom: 10px;

}

.texto-centro h1 {
    font-size: var(--font-g);
    color: var(--corpo);
    margin-bottom: 10px;
}

.blog-imagem {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    grid-gap: 2rem;


}

.blog-imagem img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;

}

.card {
    background-color: var(--corpo);
    border-radius: 5px;
    border: 3px solid var(--detalhes);
    box-shadow: 0px 0px 2px var(--outras);
    transition: 0.6s;
}

.card:hover {
    transform: scale(1.1);
}

.texto-card {
    padding: 10px;
}

.texto-card :nth-child(n) {
    margin-bottom: 10px;
}

.lermais {
    color: #e6a61d;


}


.fotografos-imagem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    grid-gap: 3rem;

}

.fotografos-imagem a {
    border-radius: 5px;
    border: var(--detalhes) 3px solid;
    transition: 0.6s;
}

.fotografos-imagem a:hover {
    transform: scale(1.1);
}

.fotografos-imagem img {
    width: 100%;
    height: 100%;

}

.anuncio img {
    width: 100%;
}

.locais {
    display: grid;
    grid-template-columns: 1fr;
}

.tipos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    grid-gap: 3rem;
}

.tipo {
    background-color: var(--corpo);
    border-radius: 5px;
    align-items: center;
    text-align: center;
    padding: 10px;
    transition: 0.6s;
    border: 3px solid var(--detalhes);
}

.tipo:hover {
    transform: scale(1.1);
}

.tipo img {
    width: 100%;
    height: 100%;
    max-width: 130px;
}

.texto-tipos {

    margin-top: 10px;

}

.texto-tipos a {
    color: var(--secundaria);
    font-weight: bold;
}



.contato {
    padding: 90px 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    text-align: center;
}

.contato h3 {
    color: var(--detalhes);
}

.cont-li {
    color: var(--corpo);
    transition: 0.6s;
    margin-top: 5px;
}

.cont-li:hover {

    margin-left: 20px;
}

.cont-li a {
    color: var(--corpo);

}



.redes-sociais {
    color: var(--corpo);
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    justify-content: space-around;


}

.redes-sociais svg {
    transition: 0.6s;
}

.redes-sociais svg:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    color: #e6a61d;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    .inicio {
        display: grid;
        grid-template-columns: 1fr;

    }

    .inicio-imagem {
        color: var(--corpo);
        flex-direction: row;

    }

    .inicio-imagem svg {
        margin: 10px;

    }

    .familia {
        grid-template-columns: 1fr;
        background-position: bottom;


    }

    .familia-imagem {
        grid-row: 2;
    }


    .familia-texto h1 {
        font-size: var(--font-m);
        color: var(--corpo);
        margin-bottom: 10px;
    }


    .texto-centro h1 {
        font-size: var(--font-m);
        color: var(--corpo);
        margin-bottom: 10px;
    }

    .fotografos-imagem {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));


    }

    .contato {
        display: grid;
        grid-template-columns: 1fr;
    }


}






@media (max-width: 400px) {

    .inicio-texto h1 {
        font-size: 1.2rem;
        color: var(--detalhes);
        margin-bottom: 10px;
    }

    .inicio-texto h2 {
        color: var(--corpo);
        margin-bottom: 10px;

    }

    .inicio-texto p {
        color: var(--corpo);
        margin-bottom: 10px;

    }
    .familia-texto h1 {
        font-size: 1.8rem;
        color: var(--corpo);
        margin-bottom: 10px;
    }

    .texto-centro h1 {
        font-size: 1.8rem;
    }
    .contato {

        grid-template-columns: 1fr;
    }



}